@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Monofett&family=Open+Sans&family=Press+Start+2P&family=Vibes&display=swap");

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
